<h1> Search For a Movie..!!</h1>

<form action="/results" action="GET">
    <input type"text" placeholder="Movie" name="search">
    <input type"text" placeholder="Year" name="search">
    <button>Submit</button>
</form>